.App {
  text-align: center;
  display:block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Styling for the input*/
.search{
  margin-top:20px;
  width:15%;
  border-radius:2px;
  border-bottom:1px;
  border-right:1px;
  border-color: lightgray;
  text-align:center;
  padding:12px;
  border-radius:10px;
  font-size:19px;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  outline:none;
}

/*Styling for the header of the app*/
.heading{
  font-size:45px;
  margin-top:10px;
  font-family:'Ubuntu', sans-serif;
  color:rgb(99, 76, 76);
}

/*Styling for text in the response*/
.info{
  font-family: 'Ubuntu', sans-serif;
  margin:0px;
  font-weight: bolder;
}
.para{
  margin-top:30px;
  font-size:24px;
  font-weight:bold;
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Ubuntu', sans-serif;
}

/*styling for the icon to be black*/
.blackColor{
  color: black;
  font-weight: bold;
  font-size:30px;
  float:right;
  margin-right:3%;
  cursor:pointer;
}

/*Styling for the icon to be red*/
.redColor{
  color:red;
  font-weight: bolder;
  font-size:30px;
  float:right;
  margin-right:3%;
  cursor:pointer;
}

/*Styling for the grt ingredients button*/
.btn{
  margin-left:30px;
  padding-top:14px;
  padding-bottom: 12px;
  font-weight: lighter;
  font-size: 13px;
  outline: blue;
}
.space{
  margin-left: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

/*Styling for the the response*/ 
.box{
  border-radius: 10px;
  display:inline-block;
  width:95%;
  flex-wrap: wrap;
  background-color:rgba(248, 232, 255, 0.863);
  margin-top:25px;
  height:50%;
}

/*Styling for box-header*/
.box-heading{
  border-radius: 10px;
  background-color:rgb(243, 231, 217);
  padding:8px;
}
.box-header{
  margin:3px;
  font-family: 'Work Sans', sans-serif;
  font-size:35px;
  color:rgb(138, 105, 105);
  font-weight: 550;
}
.content{
  display:flex;
  flex-direction:row;
}
/*styling for the image part*/
.image-area{
  width:40%;
  height:60%;
}
.Meal-image{
  position: relative;
  margin-top:5%;
  margin-left:10%;
  margin-bottom: 5%;
  border-radius: 10%;
  float:left;
  width:70%;
  height:50%;
  border:2px solid rgb(99, 76, 76);
}
.Meal-image:hover,
.Meal-image:focus{
  z-index: 1px;
  bottom: 5px;
  top:2px;
  right:3px;
  box-shadow: 0 15px 10px -6px rgba(177, 176, 176, 0.884);
}
.RecipeList{
  display: table;
  height: auto;
  width:60%;
  margin-top:2%;
}
.Meal-list{
  text-align:left;
}

/*Styling for the ingredients part*/
.Ingredient-box{
  margin-top: 1%;
  border-radius: 10px;
  height:150px;
  background-color: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
.Ingredient-list{
  display:table;
  margin-top:4%;
  height: 250px;
  text-align: left;
  margin-bottom: 1%;
  width:93%;
}
.info-last{
  margin-top: 10%;
  font-family: 'Work Sans', sans-serif;
  font-weight: bolder;
}

/*Styling for the recipes part*/
.Instruction-list{
  display:table;
  margin-top:1%;
  height: 200px;
  width:97%;
  margin-bottom: 4%;
}
.Instruction-box{
  border-radius: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  margin-top: 1%;
  height:190px;
  background-color: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}


